.center{
    
    display: block; 
    margin-right: 0;
    margin-left: auto;
    width: 50%;
}
.text{
    text-align: left;
}
.resize{
    height: 500px;
    width: 500px;
}
.font{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}